@model GovernmentTaxPrj.Models.TaxAccount

@{
    ViewData["Title"] = "Create";
}
<section class="content-header">
    <h1>အခွန်အကောင့်တည်ဆောက်ပါ</h1>
</section>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">အခွန်အကောင့်တည်ဆောက်ခြင်း</h3>
        </div>
        <div class="box-body">

            <h4>အခွန်အကောင့်</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Amount" class="control-label"></label>
                            <input asp-for="Amount" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="OpenDate" class="control-label"></label>
                            <input asp-for="OpenDate" class="form-control" />
                            <span asp-validation-for="OpenDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a class="btn btn-primary" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
