<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="image">
                <img src="./mínimo admin - Dashboard_leftmenu_files/user2-160x160.jpg" class="rounded-circle" alt="User Image">
            </div>
            <div class="info">
                <p>MultiPurpose Themes</p>
                <a href="http://html-templates.multipurposethemes.com/bootstrap-4/admin/minimo-admin/minimoadmin-main/index.html#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>


        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu tree" data-widget="tree">

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">                
                <a class="nav-link text-dark" asp-area="" asp-controller="TaxAccounts" asp-action="Index">TaxAccount</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="TaxPayers" asp-action="Index">TaxPayer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="TaxTransactions" asp-action="Index">TaxTransaction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="BudgetYears" asp-action="Index">BudgetYear</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Townships" asp-action="Index">Township</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Regions" asp-action="Index">Region</a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
    <div class="sidebar-footer">
        <!-- item-->
        <a href="http://html-templates.multipurposethemes.com/bootstrap-4/admin/minimo-admin/minimoadmin-main/index.html" class="link" data-toggle="tooltip" title="" data-original-title="Settings"><i class="fa fa-cog fa-spin"></i></a>
        <!-- item-->
        <a href="http://html-templates.multipurposethemes.com/bootstrap-4/admin/minimo-admin/minimoadmin-main/index.html" class="link" data-toggle="tooltip" title="" data-original-title="Email"><i class="fa fa-envelope"></i></a>
        <!-- item-->
        <a href="http://html-templates.multipurposethemes.com/bootstrap-4/admin/minimo-admin/minimoadmin-main/index.html" class="link" data-toggle="tooltip" title="" data-original-title="Logout"><i class="fa fa-power-off"></i></a>
    </div>
</aside>
