@model GovernmentTaxPrj.Models.IncomeType

@{
    ViewData["Title"] = "Delete";
}
<section class="content-header">
    <h1>ဝင်ငွေရလမ်းကြောင်းကိုပယ်ဖျက်ပါ</h1>
</section>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">ဝင်ငွေရလမ်းကြောင်းကိုပယ်ဖျက်ခြင်း</h3>
        </div>
        <div class="box-body">
            <h3>ဝင်ငွေရလမ်းကြောင်းကိုပယ်ဖျက်ရန်သေချာပါသလား?</h3>
            <div>
                <h4>ဝင်ငွေရလမ်းကြောင်း</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a class="btn btn-primary pull-right" asp-action="Index">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</section>